.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 25vh; */
  background-position: center;
  /* margin: 10; */
  padding: 10;
  text-decoration: none;
  background-color: transparent;
  margin-top: -30px;
  /* background-image: url("../../assets/images/header.png"); */
}
.logo-h1 {
  padding: 0px;
}
.logo-anchor {
  font-family: "Bungee Outline", cursive;
  font-size: 100pt;
  color: white;
}
.header-button {
  background-color: red;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}
.nav-class {
  margin-top: -80px;
}
.favorite-rep {
  font-size: 20px;
}
.nav-anchor,
.logo-anchor {
  text-decoration: none;
  color: white;
}
