.div {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.h3 {
  color: white;
  text-decoration: none;
}

.a {
  color: white;
  text-decoration: none;
}
