/* You can add global styles to this file, and also import other style files */
.favorite {
  background-color: red;
}

.background {
  background-color: lightgray;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
